actionlib==1.11.7
aniso8601==1.1.0
beautifulsoup4==4.5.1
bondpy==1.7.18
catkin==0.7.4
click==6.6
cv-bridge==1.12.2
diagnostic-analysis==1.8.10
diagnostic-common-diagnostics==1.8.10
diagnostic-updater==1.8.10
dynamic-reconfigure==1.5.45
Flask==0.11.1
Flask-RESTful==0.3.5
gencpp==0.5.4
geneus==2.2.5
genlisp==0.4.16
genmsg==0.5.8
gennodejs==1.0.3
genpy==0.6.3
gunicorn==19.6.0
html2text==2016.5.29
interactive-markers==1.11.3
itsdangerous==0.24
Jinja2==2.8
laser-geometry==1.6.4
MarkupSafe==0.23
message-filters==1.12.6
pkg-resources==0.0.0
pluginlib==1.10.4
pycurl==7.43.0
python-dateutil==2.5.3
python-qt-binding==0.3.1
pytz==2016.6.1
qt-dotgraph==0.3.3
qt-gui==0.3.3
qt-gui-cpp==0.3.3
qt-gui-py-common==0.3.3
resource-retriever==1.12.2
six==1.10.0
smach==2.0.0
smach-ros==2.0.0
smclib==1.7.18
tf==1.11.8
tf-conversions==1.11.8
tf2-kdl==0.5.13
tf2-py==0.5.13
tf2-ros==0.5.13
topic-tools==1.12.6
Werkzeug==0.11.11
wiimote==1.10.1
xacro==1.11.1
